<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Liquade</title>
	<link rel="stylesheet" type="text/css" media="all" href="/static/style.css">
	
</head>
<body>
	<div class="body-1">
		<!-- START HEADER -->
		<header>
			<nav>
				<a href="/" class="block">Главная</a>
				<a href="golos" class="block">Голосование</a>
				<a href="plng" class="block">Языки</a>
				<a href="otziv" class="block">Отзыв</a>
			</nav>
		</header>
		<!-- END HEADER -->
		<div class="margi">
			<div class="white-with-content">

				<h1 class="u9">РАБОТА<br>ПРОГРАММИСТА</h1>
			<!--
			<img src="css/images/kulerpopularcolors.png" class="image-top">
		-->
		<div class="image-top">
		<iframe width="784" height="441" src="https://www.youtube.com/embed/sSYRCfi3Sho" frameborder="0" allowfullscreen></iframe>
		</div>
		<p class="text-1">Программист – особенно ценный специалист  в условиях развития информационных технологий. Он может найти применение своим профессиональным навыкам в научно-исследовательских институтах, вычислительных центрах, IT-компаниях, web-студиях, учебных заведениях. Уровень заработной платы опытных специалистов достаточно высокий, он будет зависеть от места и эффективности их работы. Программисты также могут стать владельцами собственного бизнеса и предлагать покупателям новые проекты и технические разработки.</p>
		<a href="/test" class="button7">Пройти тест</a>  
		<div class="haer" ><a id='about'> </a></div>
	</div>

	<div class="team-item">
		<h3 class="text-naverhy">Коротко о профессии</h3>

		<div class="block-nfoto">
			<div class="foto">
				<img src="static/images/1.png" style="	width: 300px;" alt="">
			</div><br>
			<div class="name-teammeit">Кто такой Программист?</div>
			<div class="text-tea"><br>
			Программист - это человек который создает алгоритмы для автоматизации разного рода задач с помощью языков программирования. 
		</div></div>


		<div class="block-nfoto">
			<div class="foto">
				<img src="static/images/2.png" style="	width: 300px;" alt="">
			</div><br>
			<div class="name-teammeit">Кому подходит эта профессия?</div>
			<div class="text-tea"><br>
			Стоит сказать, что проффесия программит прежде всего творческая, но она требует уметь мыслить алгоритмически. На самом деле это подсилу каждому, главное - это практика.
			</div></div> 
			
		
			<div class="block-nfoto">
				<div class="foto">
					<img src="static/images/3.png" style="	width: 300px;" alt="">
				</div><br>
				<div class="name-teammeit">Какие перспективы развития?</div>
			<div class="text-tea"><br>
			Любая сфера, в которой сегодня действует человек активно автоматизируется, поэтому прогррамист будет востребован ещё очень долго.
			</div>

			</div>







			<!-- START FOOTER --> 
			<div class="black-with-content">
				<div class="disign_by">
					Design by Liquide. All rights reserved.
				</div>
				<div class="icons">
					<a href="#"><img src="static/png/vk.png" alt="" class="image-bot"></a>
					<a href="#"><img src="static/png/ya.png" alt="" class="image-bot"></a>
					<a href="#"><img src="static/png/ok.png" alt="" class="image-bot"></a>
					<a href="#"><img src="static/png/m.png" alt="" class="image-bot"></a>
				</div>
				<p class="text-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum numquam voluptatibus laborum aut culpa iure, fugiat minima animi enim illum quis amet, ad nam, praesentium, sed eveniet iste quaerat quas?</p>
			</div>
			<!-- END FOOTER -->
		</div>
	</div>
</body>
</html>