{% extends "template.html" %}
{% block quiz %} 

<label>
	<input type="radio" name="question-one" value="WEB">
	WEB
</label>
<br>

<label>
	<input type="radio" name="question-one" value="enterprise">
	Предприятие
</label>
<br>

<label>
	<input type="radio" name="question-one" value="Mobile">
	Смартфоны
</label>
<br>

<label>
	<input type="radio" name="question-one" value="games">
	3D/gamimg
</label>
<br>

<label>
	<input type="radio" name="question-one" value="corp">
	Я хочу работать в большой корпрации.
</label>
<br>

<label>
	<input type="radio" name="question-one" value="dm">
	Не имеет значения, я просто хочу денег.
</label>
<br><br>


{% endblock %}