{% extends "lngtemplate.html" %}
{% block quiz %} 
			<img src="/static/png/scratch.png" width="25%">
			<p>Скретч  — визуальная объектно-ориентированная среда программирования для обучения школьников

младших и средних классов. Название произошло от слова scratching — техники, используемой хип-хоп-

диджеями, которые крутят виниловые пластинки взад-вперёд руками для того, чтобы смешивать

музыкальные темы [2] .

Скретч создан как продолжение идей языка Лого и конструктора Лего. Скретч 1 был написан на

языке Squeak, Скретч 2 ориентирован на работу онлайн и переписан на Flash/ActiveScript. Скретч

разрабатывается небольшой командой программистов для детей в Массачусетском технологическом

институте. Текущая версия — 2.0, выпущена 9 мая 2013.

В 2008 году Скретч был портирован для микроконтроллерного модуля Arduino. Проект носит название

S4A.

Программы на Скретче состоят из графических блоков, подписи к которым зависят от выбранного для

интерфейса языка. Может быть выбран один из 50 языков интерфейса, включая русский. Для

подключения интерфейса на новом языке используются стандартные gettext файлы.</p>



{% endblock %}