{% extends "lngtemplate.html" %}
{% block quiz %} 
			<img src="/static/png/Python_logo.png" width="1000" alt="">
			<p>Python (МФА; в русском языке распространено название пито́н) —  общего назначения,

ориентированный на повышение производительности разработчика и читаемости кода. Синтаксис ядра

Python минималистичен. В то же время стандартная библиотека включает большой объём полезных

функций.

Python поддерживает несколько парадигм программирования, в том числе структурное, объектно-

ориентированное, функциональное, императивное и аспектно-ориентированное. Основные

архитектурные черты — динамическая типизация, автоматическое управление памятью,

полная интроспекция, механизм обработки исключений, поддержка многопоточных вычислений и

удобные высокоуровневые структуры данных. Код в Python организовывается в функции и классы,

которые могут объединяться в модули(они в свою очередь могут быть объединены в пакеты).

Эталонной реализацией Python является интерпретатор CPython, поддерживающий большинство

активно используемых платформ. Он распространяется под свободной лицензией Python Software

Foundation License, позволяющей использовать его без ограничений в любых приложениях,

включая проприетарные. Есть реализации интерпретаторов для JVM (с

возможностью компиляции), MSIL (с возможностью компиляции), LLVM и других. Проект PyPy предлагает

реализацию Python с использованием JIT-компиляции, которая значительно увеличивает скорость

выполнения Python-программ.

</p>


{% endblock %}