{% extends "lngtemplate.html" %}
{% block quiz %} 
			<img src="/static/png/ruby.png" width="200">
			<p>Ruby — динамический, рефлективный, интерпретируемыйвысокоуровневый язык программирования.

Язык обладает независимой от операционной системы реализацией многопоточности,

строгой динамической типизацией, сборщиком мусора и многими другими возможностями. По

особенностям синтаксиса он близок к языкам Perl и Eiffel, по объектно-ориентированному подходу —

к Smalltalk. Также некоторые черты языка взяты из Python, Lisp, Dylan и Клу.

Кроссплатформенная реализация интерпретатора языка является полностью свободной ] .</p>


{% endblock %}