{% extends "lngtemplate.html" %}
{% block quiz %} 
			<img src="/static/png/Swift_logo.png">
		<p>Swift — открытый мультипарадигмальный компилируемый язык программирования общего назначения.

Создан компанией Apple в первую очередь для разработчиков iOS и macOS. Swift работает с

фреймворками Cocoa и Cocoa Touch и совместим с основной кодовой базой Apple, написанной

на Objective-C. Swift задумывался как более легкий для чтения и устойчивый к ошибкам программиста

язык, нежели предшествовавший ему Objective-C [7] . Программы на Swift компилируются при

помощи LLVM, входящей в интегрированную среду разработки Xcode 6 и выше. Swift может

использовать рантайм Objective-C, что делает возможным использование обоих языков (а также С) в

рамках одной программы.</p>

		{% endblock %}	